html,
body,
.h-100 {
    height: 100% !important;
}

tr {
    height: 70px !important;
}

table {
    vertical-align: middle !important;
    text-align: center !important;
}

.disabled {
    cursor: not-allowed !important;
}